body{
	background-image: url("../images/space_background.webp");
}

h1{
	font-size: 50px;
}

h2, h3{
	font-size: 24px;
}

#game_container{
	background-color: #ccdfff;
}

#start_button{
	margin: 6px;
}

.text-box{
	text-align: center;
	font-size: 30px;
}

.question-box{
	text-align: center;
	font-size: 22px;
	margin-bottom: 6px;
}

.answer-image{
	padding: 10px;
}